<div class="wrapper">
    <div class="content" style="margin: 10%;">
        <div class="author-container">
            <h1 style="color: red;">This is just a landing page!</h1></div>
        <img class="center" src="/images/whoami.jpg" align="middle">
        <p align="center">
            <i class="fa fa-creative-commons"></i> Image courtesy: <a target="_blank" href="https://pixabay.com/en/hacker-cybercrime-security-network-2077138/">Pixabay</a>
        </p>
        <h2>About</h2>
        <p>I am Siddharth Prakash Rao (<b>Sid</b>). This is the landing page for my domain - <a target="_blank" href="https://privacypies.org"><b>privacypies.org</b></a></p>
        <h2>May be...</h2>
        <ul>
            <li>You are looking for my <b>blog</b>, which is on the <b><code>www</code></b> sub-domain
                <ul>
                    <li>that is <a target="_blank" href="https://www.privacypies.org">www.privacypies.org</a></li>
                </ul>
            </li>
            <li>You are looking for my <b>academic</b> webpage,
                <ul>
                    <li> and it is on <a target="_blank" href="https://users.aalto.fi/~raos1/">Aalto University's</a> sub-domain.</li>
                </ul>
            </li>
            <li>You are looking for my <b>personal portfolio</b>,
                <ul>
                    <li> it is on a different domain, which is <a target="_blank" href="http://siddharthrao.me/">siddharthrao.me/</a></li>
                </ul>
            </li>
        </ul>
        <hr />
        <ul style="text-align:center;" class="fa-ul main-list">
            <li class="main-list-item">
                <span class="fa fa-github fa-lg main-list-item-icon"></span>
                <a target="_blank" href="https://github.com/sidtechnical">sidtechnical</a>
            </li>
            <li class="main-list-item">
                <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
                <a target="_blank" href="https://github.com/sidtechnical">sidnext2none</a>
            </li>
            <li class="main-list-item">
                <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
                <a target="_blank" href="https://github.com/sidtechnical">siddharthprao</a>
            </li>
        </ul>
    </div>
</div>