<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sid Rao's domain landing page</title>
    <link rel="apple-touch-icon" href="/images/compass.png" />
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="http://localhost:4000/favicon.ico" />
    <link rel="stylesheet" href="/assets/normalize.css">
    <link rel="stylesheet" href="/assets/main.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
    <link rel="canonical" href="">
    <meta name="author" content="Sid Rao">
    <meta name="description" content="Sid Rao's domain landing page. It contains pointers to Sid's other domains or sub-domains, for example, to blogs, academic pages, and personal portfolio." />
    <meta property="og:title" content="Sid Rao's domain landing page" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="/images/compass.png" />
    <meta property="og:description" content="Sid Rao's domain landing page. It contains pointers to Sid's other domains or sub-domains, for example, to blogs, academic pages, and personal portfolio." />
    <meta property="og:site_name" content="Sid Rao's domain landing page">
</head>